@font-face {
  font-family: 'Futura';
  src: local('Futura'), url(../styles/font/Futura_Bold_font.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../styles/font/Roboto/Roboto-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../styles/font/Poppins&Roboto/Poppins/PoppinsSemiBold.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/background.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
z-index: auto;
}
